* {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

/* ************************************************************************************************* */
/* ========================================== HEADER ==========================================  */
header {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.header_bg {
  background-size: cover;
  background-position: top center,top left,top right;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.header_bg img, .header_bg::after {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.header_bg::after {
  z-index: 3;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.504);
  /* background-color: rgba(0, 0, 0, 0.322); */
  /* background-image: -o-linear-gradient(left, black, black 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0)), -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to right, black, black 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0)), linear-gradient(to top, black, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0)) var(--bg-main);; */
}
.header_top{
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.478);
}
.header_top .phone {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  font-family: Inter, sans-serif;
  border-radius: 6px 6px 6px 6px;
  border: 2px solid currentColor;
  border-color: #ddb075;
  box-shadow: 0px 0px 0px -7px rgb(0 0 0 / 0%);
  padding: 10px 17px;
  color: #dddede;
  margin: 5px 10px;
}

.header_top .phone:hover {
  background: #ddb075;
  cursor: pointer;
  box-shadow: 0px 15px 25px -7px rgb(0 0 0 / 10%);
}

.header_top .write-us {
  font-size: 13px;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px 6px 6px 6px;
  background: #dddede;
  box-shadow: 0px 0px 0px -7px rgb(0 0 0 / 0%);
  padding: 10px 17px;
  margin: 5px 10px;
}

.header_top .write-us:hover{
  background: #41b4e6;
  cursor: pointer;
}

.header_top .write-us img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header_content{
  position: relative;
  z-index: 2;
}
.logo_img {
  height: 88px;
  width: auto;
}

.header_content_text h1{
  font-weight: bold;
  color: #dddede;
  font-size: 38px;
}

.header_content_text h2{
  font-weight: 500;
  color: #dddede;
  font-size: 18px;
}

.header_content_call p{
  font-size: 22px;
  font-weight: 600;
  color: #dddede;
  margin-top: 30px;
}

.quiz_btn {
  background-color: #ddb075; /* Цвет фона кнопки */
  border: none; /* Убираем границы кнопки */
  padding: 12px 24px; /* Отступы внутри кнопки */
  border-radius: 6px 6px 6px 6px;
  animation: blink 1.5s ease-in-out infinite; /* Добавляем анимацию */
}

.quiz_btn span {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #dddede; /* Цвет текста на кнопке */
  font-size: 20px; /* Размер текста на кнопке */
}

@keyframes blink {
  0% {
    background-color: #ddb075;
    box-shadow: 0 0 2px #ddb075;
  }
  50% {
    background-color: #deae70;
    box-shadow: 0 0 3px #deae70, 0 0 6px #deae70, 0 0 9px #deae70, 0 0 12px #deae70;
  }
  100% {
    background-color: #ddb075;
    box-shadow: 0 0 2px #ddb075;
  }
}



/* ************************************************************************************************* */
/* =========================================== HEADER media =======================================  */
@media(max-width: 768px){
  .header_top .phone {
    font-size: 15px;
    padding: 6px 14px;
  }

  .header_top .write-us {
    font-size: 11px;
    padding: 6px 14px;
  }

  .logo_img {
    height: 72px;
    width: auto;
  }

  .header_top .phone{
    margin-top: -10px;
  }

  .header_top{
    padding-bottom: 5px;
  }

  .header_content_text h1{
    font-size: 30px;
  }
  
  .header_content_text h2{
    font-size: 16px;
  }
  
  .header_content_call p{
    font-size: 18px;
    margin-top: 30px;
  }
  
  .quiz_btn {
    padding: 11px 21px; /* Отступы внутри кнопки */
  }
  
  .quiz_btn span {
    font-size: 18px; /* Размер текста на кнопке */
  }
}

@media(max-width: 576px){
  .header_content_text h1{
    font-size: 25px;
  }
  
  .header_content_text h2{
    font-size: 14px;
  }
  
  .header_content_call p{
    font-size: 16px;
    margin-top: 24px;
  }
  
  .quiz_btn {
    padding: 9px 20px; /* Отступы внутри кнопки */
  }
  
  .quiz_btn span {
    font-size: 17px; /* Размер текста на кнопке */
  }
}

@media(max-width: 350px){
  .header_content_text h1{
    font-size: 22px;
  }
  
  .header_content_text h2{
    font-size: 12px;
  }
  
  .header_content_call p{
    font-size: 14px;
    margin-top: 20px;
  }
  
  .quiz_btn {
    padding: 6px 12px; /* Отступы внутри кнопки */
  }
  
  .quiz_btn span {
    font-size: 15px; /* Размер текста на кнопке */
  }

  .header_top .write-us {
    font-size: 9px;
    padding: 5px 10px;
  }

  .logo_img {
    height: 66px;
    width: auto;
  }

  .header_top .phone{
    font-size: 13px;
    padding: 5px 10px;
  }
}


/* ************************************************************************************************* */
/* =========================================== MAIN CONTENT SECTION =======================================  */
.main_content{
  padding: 55px 0;
}

.main_content h2{
  text-transform: uppercase;
  text-align: center;
  color: #495057;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
}

.main_content h3 {
  text-align: center;
  color: #495057;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}

.main_content p {
  text-align: center;
  color: #495057;
  max-width: 240px;
  font-size: 16px;
}

.main_content .box_img img{
  width: 100px;
  height: 100px;
}

/* ************************************************************************************************* */
/* =========================================== MAIN CONTENT SECTION MEDIA =======================================  */
@media(max-width: 576px){
  .main_content h3 {
    font-size: 17px;
  }
  
  .main_content p {
    font-size: 14px;
  }
}

/* ************************************************************************************************* */
/* =========================================== GALLERY SECTION =======================================  */
.gallery{
  padding: 55px 0;
  background-color: #2a2c2d;
}

.gallery h2{
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
}

.gallery_slide_photo{
  width: 60%;
}

.gallery_slide_photo_top, .gallery_slide_photo_bottom{
  width: 100%;
}

.gallery_slide_photo_top img, .gallery_slide_photo_bottom img {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #ddb075;
}

.gallery_slide_photo_bottom .img_wrapper{
  margin-top: 15px;
  width: 30%;
}

.gallery_slide_info{
  width: 35%;
}

.gallery_slide_info h4{
  color: white;
  font-weight: 600;
  margin-bottom: 60px;
  font-size: 28px;
}

.gallery_slide_info .description {
  color: #dddede;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.gallery_slide_info .price{
  margin-top: 30px;
}

.gallery_slide_info .price p {
  color: #dddede;
  font-weight: 400;
  font-size: 16px;
  padding-right: 15px;
  line-height: 18px;
}

.gallery_slide_info .price span {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.gallery_slider_arrows {
  position: absolute;
  width: 104%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: -2%;
  transform: translateY(-105%);
}


.slider-arrow {
  border: none;
  outline: none;
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.511);
}

.slider-prev {
  background-image: url('media/arrow.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

.slider-next {
  background-image: url('media/arrow.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery_slider_dots ul {
  display: flex;
  justify-content: center;
  margin-top: 3.68rem;
}

.gallery_slider_dots li:not(:last-child) {
  margin-right: 0.94rem;
}

.gallery_slider_dots button {
  font-size: 0;
  outline: none;
  border: none;
  width: 1.063rem;
  height: 1.063rem;
  border-radius: 50%;
  background-color: #e4e4e4;
  transition: white;
}

.gallery_slider_dots .slick-active button, .gallery_slider_dots button:hover {
  background-color: #ddb075;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 139, 139, 0.935);
  z-index: 9999;
  display: none;
}

#modal .slider {
  width: 90%;
  height: 90%;
  margin: auto;
}

#modal .slider_arrows{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-105%);
  z-index: 222;
}

#modal .slider-arrow {
  background: #ddb075b8;
}

#modal .slider-prev {
  background-image: url('media/arrow.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

#modal .slider-next {
  background-image: url('media/arrow.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

#modal .slider_dots{
  position: absolute;
  width: 100%;
  bottom: 5%;
}

#modal .slider_dots ul {
  display: flex;
  justify-content: center;
  margin-top: 3.68rem;
}

#modal .slider_dots li:not(:last-child) {
  margin-right: 0.94rem;
}

#modal .slider_dots button {
  font-size: 0;
  outline: none;
  border: none;
  width: 1.063rem;
  height: 1.063rem;
  border-radius: 50%;
  background-color: #eed0aa;
  transition: ddb075;
}

#modal .slider_dots .slick-active button,
#modal .slider_dots button:hover {
  background-color: #ddb075;
}

#modal img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

#modal .slick-list{
  width: 100%;
  height: 100%;
}

#close-modal{
  position: absolute;
  outline: none;
  border: none;
  font-size: 40px;
  font-weight: bold;
  color: black;
  background: transparent;
  left: auto;
  right: 4%;
  top: 2%;
  z-index: 123;
}

/* ************************************************************************************************* */
/* =========================================== GALLERY SLIDER MEDIA =======================================  */
@media(max-width: 992px) {
  .gallery_slide_info{
    width: 100%;
    margin-top: 40px;
  }
  .gallery_slide_photo{
    width: 70%;
  }
  .gallery_slider_arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0%;
    transform: translateY(-105%);
  }
}
@media(max-width: 768px){
  #modal .slick-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 576px){
  .gallery_slide_photo{
    width: 100%;
  }
  .gallery h2 {
    font-size: 24px;
  }
  .gallery_slide_info .description {
    width: 100%;
  }
  .gallery_slide_info .price {
    width: 100%;
  }
  .gallery_slide_info .price p{
    width: 100%;
  }
}

/* ************************************************************************************************* */
/* =========================================== FOOTER =======================================  */
footer{
  padding: 30px 0;
  background: #2a2c2d;
}

.footer_info p {
  margin: 0;
  line-height: 15px;
  color: white;
  font-size: 17px;
}

.policy p {
  margin: 0;
  line-height: 5px;
  color: white;
  font-size: 17px;
}

.policy a{
  text-decoration: underline;
  color: #ddb075;
  font-size: 17px;
}

.contacts a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 7px;
}

.contacts img{
  width: 100%;
}

@media(max-width: 768px){
  .policy {
    padding: 15px 5px;
  }
  .footer_info, .policy, .contacts{
    text-align: center;
  }
}


/* ************************************************************************************************* */
/* =========================================== FORM =======================================  */
#multiForm {
  position: fixed; /* фиксируем форму */
  top: 50%; /* выравниваем по вертикали */
  left: 50%; /* выравниваем по горизонтали */
  transform: translate(-50%, -50%); /* центрируем */
  width: 60%; /* задаем ширину формы */
  max-width: 90%; /* задаем максимальную ширину формы */
  background-color: #fff; /* задаем цвет фона */
  padding: 20px; /* добавляем отступы */
  border-radius: 10px; /* добавляем скругление углов */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* добавляем тень */
  z-index: 999; /* устанавливаем высокий индекс для показа формы поверх всего */
  display: none; /* скрываем форму по умолчанию */
  flex-direction: column;
  align-items: center;
}

#multiForm.active {
  display: flex;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #2a9c2e;
}

/* стили для кнопки закрытия */
.close-button {
  position: absolute; /* позиционируем кнопку абсолютно */
  top: 10px; /* отступ сверху */
  right: 10px; /* отступ справа */
  font-size: 20px; /* размер шрифта */
  font-weight: bold; /* жирный шрифт */
  color: #333; /* цвет текста кнопки */
  cursor: pointer; /* меняем курсор при наведении на кнопку */
}
.close-button:hover {
  color: #f00; /* меняем цвет текста кнопки при наведении на нее курсора */
}
.hidden {
  display: none;
}

#multiForm .tab{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.quiz_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.quiz_title span{
  display: block;
  padding: 4px 10px;
  background: #2a2c2d;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 10px;
}

.quiz_title h3{
  margin: 0;
  color: #2a2c2d;
  font-size: 25px;
  font-weight: bold;
}

.quiz_photo_option{
  display: block;
  border-radius: 6px;
  width: 45%;
  padding: 10px;
  margin: 10px 15px;
  border: 3px solid transparent;
  cursor: pointer;
}

.quiz_text_option{
  border: 3px solid #2a2c2d;
}

.quiz_text_option .quiz_description{
  margin: 0;
}

.quiz_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quiz_photo_option.error {
  border: 3px solid rgb(187, 5, 5);
}

.quiz_photo_option.checked {
  border: 3px solid #ddb075;
}

.quiz_photo {
  border-radius: 6px;
}

.quiz_photo img {
  width: 100%;
  border-radius: 6px;
}

.quiz_description{
  margin-top: 20px;
}

.quiz_description span{
  font-weight: 600;
  color: #2a2c2d;
  font-size: 16px;
}

.quiz_btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.quiz_btns button{
  margin: 0 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 6px 15px;
}

#prevBtn {
  border: 2px solid #2a2c2d;
  background-color: white;
  color: #2a2c2d;
}

#nextBtn {
  border: 2px solid #ddb075;
  background-color: white;
  color: #2a2c2d;
}

#nextBtn:hover {
  background-color: #ddb075;
}