{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'slick.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Современные кухни и мебель на заказ | Bingomebel.uz</title>
    <meta property="og:title" content="Современные кухни и мебель на заказ | Bingomebel.uz">
    <meta name="description" content="Наша компания занимается изготовлением кухонь и мебели на заказ по индивидуальным проектам. Высокое качество материалов и исполнения. Звоните: +998 (ХХ) XXX-XXXX">
    <meta property="og:description" content="Наша компания занимается изготовлением кухонь и мебели на заказ по индивидуальным проектам. Высокое качество материалов и исполнения. Звоните: +998 (ХХ) XXX-XXXX">
    <meta name="keywords" content="кухни на заказ, мебель на заказ, производство мебели, изготовление кухонь, изготовление мебели, индивидуальные проекты, ташкент, кухни в ташкенте">
    <html lang="ru">
    <meta name="author" content="Bingomebel">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="{% static 'media/favicon.webp' %}">
    <!-- <meta property="og:image" content="http://example.com/image -->
    <!-- <link rel="sitemap" type="application/xml" href="sitemap.xml"> -->

</head>
<body>
    <header class="d-flex flex-column">
        <div class="header_top">
            <div class="container-lg d-flex justify-content-between align-items-center flex-column flex-sm-row">
                <div class="logo d-flex align-items-center">
                    <a href="{% url 'main_app:home' %}" class="logo_link d-flex align-items-center">
                        <img class="logo_img" src="{% static 'media/logo.webp' %}" alt="Логотип">
                    </a>
                    <a link="https://t.me/Dergachyova_Ekaterina" class="write-us">
                        <img src="{% static 'media/tg_logo.webp' %}" alt="">
                        Написать в Telegram
                    </a>
                </div>
                <a class="phone" href="tel:+998990044740">
                    Телефон: +998 99 004-47-40
                </a>
            </div>
        </div>
        <div class="header_content d-flex flex-grow-1">
            <div class="container-lg d-flex flex-column align-items-start justify-content-center flex-grow-1">
                <div class="header_content_text">
                    <h1>Мебель на заказ - лучшее качество по лучшей цене</h1>
                    <h2>Лучшее сочетание цены и качества на рынке мебели на заказ! Создайте уют в своём доме</h2>
                </div>
                <div class="header_content_call">
                    <p>Хотите узнать стоимость кухни вашей мечты всего за 1 минуту совершенно бесплатно?</p>
                    <div class="header_btn_wrapper">
                        <button class="quiz_btn" onclick="document.getElementById('multiForm').classList.add('active')">
                            <span>Рассчитать стоимость</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="header_bg">
            <img src="{% static 'media/header_bg.webp' %}" alt="">
        </div>
    </header>
    <main>
        <section class="main_content">
            <div class="container-lg">
                <h2>Почему мы</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 mb-2 mb-md-0">
                        <div class="box_wrapper d-flex flex-column align-items-center">
                            <div class="box_img d-flex flex-column align-items-center">
                                <img src="{% static 'media/why_us1.webp' %}" alt="">
                            </div>
                            <h3>Высокое <br> качество</h3>
                            <p>Мы используем только качественные материалы и оборудование высокого уровня, что гарантирует долговечность и функциональность мебели</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-2 mb-md-0">
                        <div class="box_wrapper d-flex flex-column align-items-center">
                            <div class="box_img d-flex flex-column align-items-center">
                                <img src="{% static 'media/why_us2.webp' %}" alt="">
                            </div>
                            <h3>Индивидуальный <br> дизайн</h3>
                            <p>Мы разработаем уникальный дизайн мебели, учитывая все ваши пожелания и требования, исходя из которых создадим мебель, которая отлично впишется в ваш интерьер</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-2 mb-md-0">
                        <div class="box_wrapper d-flex flex-column align-items-center">
                            <div class="box_img d-flex flex-column align-items-center">
                                <img src="{% static 'media/why_us3.webp' %}" alt="">
                            </div>
                            <h3>Доступные <br> цены</h3>
                            <p>Мы предлагаем доступные цены на все виды мебели, при этом не снижая качества наших изделий</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-2 mb-md-0">
                        <div class="box_wrapper d-flex flex-column align-items-center">
                            <div class="box_img d-flex flex-column align-items-center">
                                <img src="{% static 'media/why_us4.webp' %}" alt="">
                            </div>
                            <h3>Быстрый срок <br> изготовления</h3>
                            <p>Мы работаем быстро и качественно, чтобы вы могли наслаждаться вашей новой мебелью в кратчайшие сроки</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="container-lg">
                <h2 class="text-center">Примеры выполненных работ</h2>
                <div class="gallery_slider_wrapper position-relative">
                    <div class="gallery_slider">
                        <div class="gallery_slide slick-current flex-column flex-lg-row d-flex align-items-center justify-content-between">
                            <div class="gallery_slide_photo d-flex flex-column">
                                <div class="gallery_slide_photo_top">
                                    <img src="{% static 'media/projects/1-1-min.webp' %}" alt="" data-model="project1">
                                </div>
                                <div class="gallery_slide_photo_bottom d-flex align-items-center justify-content-between">
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/1-2-min.webp' %}" alt="" data-model="project1">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/1-3-min.webp' %}" alt="" data-model="project1">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/1-4-min.webp' %}" alt="" data-model="project1">
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_slide_info d-flex flex-column align-items-center justify-content-center">
                                <h4 class="text-start">Описание проекта:</h4>
                                <span class="description text-start">Материал корпуса ЛДСП</span>
                                <span class="description text-start">Материал фасада МДФ</span>
                                <span class="description text-start">Столещница огонь производство</span>
                                <div class="price d-flex flex-column flex-sm-row align-items-end">
                                    <p class="text-start">Срок изготовления <br> <span class="text-start">от 30 дней</span></p>
                                    <p class="text-start">Стоимость <br> <span class="text-start">от 5 млн сум</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="gallery_slide d-flex flex-column flex-lg-row align-items-center justify-content-between">
                            <div class="gallery_slide_photo d-flex flex-column">
                                <div class="gallery_slide_photo_top">
                                    <img src="{% static 'media/projects/2-1-min.webp' %}" alt="" data-model="project1">
                                </div>
                                <div class="gallery_slide_photo_bottom d-flex align-items-center justify-content-between">
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/2-2-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/2-3-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_slide_info d-flex flex-column align-items-center justify-content-center">
                                <h4 class="text-start">Описание проекта:</h4>
                                <span class="description text-start">Материал корпуса ЛДСП</span>
                                <span class="description text-start">Материал фасада МДФ</span>
                                <span class="description text-start">Столещница огонь производство</span>
                                <div class="price d-flex flex-column flex-sm-row align-items-end">
                                    <p class="text-start">Срок изготовления <br> <span class="text-start">от 30 дней</span></p>
                                    <p class="text-start">Стоимость <br> <span class="text-start">от 5 млн сум</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="gallery_slide d-flex flex-column flex-lg-row align-items-center justify-content-between">
                            <div class="gallery_slide_photo d-flex flex-column">
                                <div class="gallery_slide_photo_top">
                                    <img src="{% static 'media/projects/4-1-min.webp' %}" alt="" data-model="project1">
                                </div>
                                <div class="gallery_slide_photo_bottom d-flex align-items-center justify-content-between">
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/4-2-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/4-3-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/4-4-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_slide_info d-flex flex-column align-items-center justify-content-center">
                                <h4 class="text-start">Описание проекта:</h4>
                                <span class="description text-start">Материал корпуса ЛДСП</span>
                                <span class="description text-start">Материал фасада МДФ</span>
                                <span class="description text-start">Столещница огонь производство</span>
                                <div class="price d-flex flex-column flex-sm-row align-items-end">
                                    <p class="text-start">Срок изготовления <br> <span class="text-start">от 30 дней</span></p>
                                    <p class="text-start">Стоимость <br> <span class="text-start">от 5 млн сум</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="gallery_slide d-flex flex-column flex-lg-row align-items-center justify-content-between">
                            <div class="gallery_slide_photo d-flex flex-column">
                                <div class="gallery_slide_photo_top">
                                    <img src="{% static 'media/projects/5-1-min.webp' %}" alt="" data-model="project1">
                                </div>
                                <div class="gallery_slide_photo_bottom d-flex align-items-center justify-content-between">
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/5-2-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/5-3-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper">
                                        <img src="{% static 'media/projects/5-4-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper d-none">
                                        <img src="{% static 'media/projects/5-5-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                    <div class="img_wrapper d-none">
                                        <img src="{% static 'media/projects/5-6-min.webp' %}" alt="" data-model="project2">
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_slide_info d-flex flex-column align-items-center justify-content-center">
                                <h4 class="text-start">Описание проекта:</h4>
                                <span class="description text-start">Материал корпуса ЛДСП</span>
                                <span class="description text-start">Материал фасада МДФ</span>
                                <span class="description text-start">Столещница огонь производство</span>
                                <div class="price d-flex flex-column flex-sm-row align-items-end">
                                    <p class="text-start">Срок изготовления <br> <span class="text-start">от 30 дней</span></p>
                                    <p class="text-start">Стоимость <br> <span class="text-start">от 5 млн сум</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery_slider_arrows"></div>
                    <div class="gallery_slider_dots"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-lg">
            <div class="row">
                <div class="col-12 col-md-4 footer_info d-flex flex-column">
                    <p>Мебель и дизайн "Bingomebel"</p>
                    <p>2023</p>
                </div>
                <div class="col-12 col-md-4 policy d-flex flex-column">
                    <p>Все права защищены</p>
                    <a href="{% static 'policy/policy.pdf' %}">Политика конфиденциальности</a>
                </div>
                <div class="col-12 col-md-4 contacts d-flex align-items-center justify-content-around">
                    <a href="https://t.me/Dergachyova_Ekaterina"><img src="{% static 'media/tg_logo.webp' %}" alt=""></a>
                    <a href="https://instagram.com/bingomebel_uz?igshid=YmMyMTA2M2Y="><img src="{% static 'media/inst_logo.webp' %}" alt=""></a>
                    <a href="tel:+998990044740"><img src="{% static 'media/call_logo.webp' %}" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <form id="multiForm" action="{% url 'main_app:kitchen_form' %}" method="POST">  
        {% csrf_token %}      
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 1</span>
                <h3>Выберите планировку кухни</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option">
                    <input type="radio" id="q1-1" name="q1" value="Прямая" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q1-1.webp' %}"" alt="">
                    </div>
                    <div class="quiz_description text-center">
                        <span>Прямая</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q1-2" name="q1" value="Угловая" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q1-2.webp' %}"" alt="">
                    </div>
                    <div class="quiz_description text-center">
                        <span>Угловая</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q1-3" name="q1" value="П-образная" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q1-3.webp' %}"" alt="">
                    </div>
                    <div class="quiz_description text-center">
                        <span>П-образная</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q1-4" name="q1" value="С островом" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q1-4.webp' %}"" alt="">
                    </div>
                    <div class="quiz_description text-center">
                        <span>С островом</span>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 2</span>
                <h3>Укажите высоту кухни</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option">
                    <input type="radio" id="q0-1" name="q0" value="До потолка" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q0-1.webp' %}" alt="">
                    </div>
                    <div class="quiz_description text-center">
                        <span>До потолка</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q0-2" name="q0" value="Стандартная" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q0-2.webp' %}" alt="">
                    </div>
                    <div class="quiz_description text-center">
                        <span>Стандартная</span>
                    </div>
                </div>     
            </div>
        </div>

        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 3</span>
                <h3>Укажите размер кухни</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q2-1" name="q2" value="До 3 метров" hidden>
                    <div class="quiz_description">
                        <span>До 3 метров</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q2-2" name="q2" value="От 3 до 5 метров" hidden>
                    <div class="quiz_description">
                        <span>От 3 до 5 метров</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q2-3" name="q2" value="От 5 до 7 метров" hidden>
                    <div class="quiz_description">
                        <span>От 5 до 7 метров</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q2-4" name="q2" value="Больше 7 метров" hidden>
                    <div class="quiz_description">
                        <span>Больше 7 метров</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 4</span>
                <h3>Выберите стиль кухни</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option">
                    <input type="radio" id="q3-1" name="q3" value="Минимализм" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q3-1.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Минимализм</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q3-2" name="q3" value="Неоклассика" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q3-2.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Неоклассика</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q3-3" name="q3" value="Лофт" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q3-3.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Лофт</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q3-4" name="q3" value="Модерн" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q3-4.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Модерн</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 5</span>
                <h3>Выберите материал фасада</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option">
                    <input type="radio" id="q4-1" name="q4" value="Акрил" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q4-1.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Акрил</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q4-2" name="q4" value="Эмаль" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q4-2.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Эмаль</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q4-3" name="q4" value="Массив" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q4-3.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Массив</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q4-5" name="q4" value="Шпон" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q4-4.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Шпон</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 6</span>
                <h3>Выберите материал столешницы</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option">
                    <input type="radio" id="q5-1" name="q5" value="Ламинированный ЛДСП (Россия)" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q5-1.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Ламинированный ЛДСП (Россия)</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q5-2" name="q5" value="Кварцевый камень" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q5-2.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Кварцевый камень</span>
                    </div>
                </div>
                <div class="quiz_photo_option">
                    <input type="radio" id="q5-3" name="q5" value="Акриловый камень" hidden>
                    <div class="quiz_photo">
                        <img src="{% static 'media/q5-3.webp' %}" alt="">
                    </div>
                    <div class="quiz_description">
                        <span>Акриловый камень</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 7</span>
                <h3>Выберите фурнитуру</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q6-1" name="q6" value="Премиум (Blum)" hidden>
                    <div class="quiz_description">
                        <span>Премиум (Blum)</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q6-2" name="q6" value="Бюджетная (Польша)" hidden>
                    <div class="quiz_description">
                        <span>Бюджетная (Польша)</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="tab">
            <div class="quiz_title">
                <span>Вопрос 8</span>
                <h3>Укажите планируемый бюджет</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q7-1" name="q7" value="до 25 млн. сум" hidden>
                    <div class="quiz_description">
                        <span>до 25 млн. сум</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q7-2" name="q7" value="до 35 млн. сум" hidden>
                    <div class="quiz_description">
                        <span>до 35 млн. сум</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q7-3" name="q7" value="до 45 млн. сум" hidden>
                    <div class="quiz_description">
                        <span>до 45 млн. сум</span>
                    </div>
                </div>
                <div class="quiz_photo_option quiz_text_option">
                    <input type="radio" id="q7-4" name="q7" value="выше 45 млн. сум" hidden>
                    <div class="quiz_description">
                        <span>выше 45 млн. сум</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="tab">
            <div class="quiz_title">
                <span>Готово</span>
                <h3>Укажите свои контактные данные</h3>
            </div>
            <div class="quiz_body">
                <div class="quiz_text_input">
                    <input type="text" name="name" id="" placeholder="Имя*">
                </div>
                <div class="quiz_text_input">
                    <input type="text" name="phone" id="" placeholder="Телефон*">
                </div>
                <div class="quiz_text_input">
                    <textarea name="comment" id="" placeholder="Комментарий (не обязательно)"></textarea>
                </div>
            </div>
        </div>
        
        
        <div class="quiz_btns">
            <button aria-label="Назад" type="button" id="prevBtn" onclick="nextPrev(-1)">Назад</button>
            <button aria-label="Дальше" type="button" id="nextBtn" onclick="nextPrev(1)">Дальше</button>
        </div>
        
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <!-- <span class="step"></span> -->
        </div>
        <div class="close-button">&times;</div>
    </form>

    <div id="modal" style="display: none;">
        <button id="close-modal">&times;</button>
        <div class="slider_arrows"></div>
      </div>

    <script src="{% static 'jquery.js' %}"></script>
    {% comment %} <script src="{% static 'bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'slick.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>